{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    {% if msg %}
        <div class="alert alert-{{msg[1]}} alert-dismissible" role="alert">
            {{msg[0]}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="container mt-5">
        <div class="card col-md-9">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title mb-0">Bonjour {% if prenom %}{{prenom}}{% endif %}</h3>
                    <a href="creerMission.php" class="btn btn-primary"><h5>New Mission</h5></a>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h2 class="card-title">Mes Interventions</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Numéro de Dossier</th>
                                        <th>Statut</th>
                                        <th>Urgence</th>
                                        <th>Client</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mission in missions %}
                                        <tr>
                                            <td> <a href="detailMission.php?mission_id={{ mission.numeroDossier }}">{{ mission.numeroDossier }}</a></td>
                                            <td>{{ mission.nomStatut }}</td>
                                            <td>{{ mission.nomUrgence }}</td>
                                            <td>{{ mission.nomClient }} {{ mission.prenomClient }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                            <div class="text-center">
                                <a href="" >Voir toutes les missions</a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card my-5">
                    <div class="card-header bg-secondary text-white">
                        <h2 class="card-title">Agenda</h2>
                    </div>
                    <div class="card-body" style="height: 200px;">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <!-- Annonce -->
                <div class="card mb-5" style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Annonces</h5>
                        <p><strong>Annonce : </strong> Réunion de coordination ce jeudi à 10h dans la salle de conférence.</p>
                        <p><strong>Information :</strong> La nouvelle version du logiciel de gestion des missions sera déployée demain. Veuillez sauvegarder votre travail.</p>
                    </div>
                </div>
                <!-- Liste Tâches -->
                <div class="card mb-5" style="height: 260px;">
                    <div class="card-body">
                        <h5 class="card-title">Liste Tâches</h5>
                        <ul>
                            <li>Faire les comptes rendus</li>
                            <li>Appeler le client X pour fixer un rendez-vous</li>
                            <li>Préparer le matériel pour la mission Y</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
