{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block title %}
    Dashboard
{% endblock %}

{% block body %}
    {% include "navbar.html.twig" %}
    {% if msg %}
        <div class="alert alert-{{msg[1]}} alert-dismissible" role="alert">
            {{msg[0]}}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
    {% endif %}

    <div class="container mt-5">
        <div class="card col-md-9">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title mb-0">Bonjour MACHIN</h3>
                    <a href="creerMission.php" class="btn btn-primary"><h5>New Mission</h5></a>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <h2 class="card-title">Mes Interventions</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Numéro de Dossier</th>
                                        <th>Statut</th>
                                        <th>Urgence</th>
                                        <th>Client</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mission in missions %}
                                        <tr>
                                            <td>{{ mission.numeroDossier }}</td>
                                            <td>{{ mission.nomStatut }}</td>
                                            <td>{{ mission.nomUrgence }}</td>
                                            <td>{{ mission.nomClient }} {{ mission.prenomClient }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-5">
                    <div class="card-body">
                        <h5 class="card-title">Texte</h5>
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo nec lectus aliquet fermentum. Ut et risus id magna tincidunt efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo nec lectus aliquet fermentum. Ut et risus id magna tincidunt efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo nec lectus aliquet fermentum. Ut et risus id magna tincidunt efficitur. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum vel justo nec lectus aliquet fermentum. Ut et risus id magna tincidunt efficitur. </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
