{% block body %}
    {% include "navbar.html.twig" %}
    {% include "base.html.twig" %}
    {% if msg %}
        <div class="alert alert-{{ msg[1] }} mt-3" role="alert">
            {{ msg[0] }}
        </div>
    {% endif %}

    <div class="container mt-5">
        <div class="card col-md-9">
            <div class="card-body">
                <div class="d-flex justify-content-between align-items-center">
                    <h3 class="card-title mb-0">Bonjour MACHIN</h3>
                    <a href="creerMission.php" class="btn btn-primary"><h5>Ajouter une mission</h5></a>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class="col-md-9">
                <div class="card">
                    <div class="card-header bg-secondary text-white">
                        <h2 class="card-title">Mes Interventions</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            {% if missions %}
                                <table class="table table-striped table-hover">
                                    <thead>
                                        <tr>
                                            <th>Numéro de Dossier</th>
                                            <th>Statut</th>
                                            <th>Urgence</th>
                                            <th>Motif</th>
                                            <th>Client</th>
                                            {% if isAdmin %}
                                                <th>Actions</th>
                                            {% endif %}
                                        </tr>
                                    </thead>
                                    <tbody>
                                        {% for mission in missions %}
                                            <tr>
                                                <td> <a href="">{{ mission.numeroDossier }}</a></td>
                                                <td>{{ mission.nomStatut }}</td>
                                                <td>{{ mission.nomUrgence }}</td>
                                                <td>{{ mission.motif }}</td>
                                                <td>{{ mission.nomClient }} {{ mission.prenomClient }}</td>
                                                {% if isAdmin %}
                                                    <td>
                                                        <a href="editerMission.php?id={{ mission.id }}" class="btn-edit">Editer</a>
                                                        <a href="supprimerMission.php?id={{ mission.id }}" class="btn-del">Supprimer</a>
                                                    </td>
                                                {% endif %}
                                            </tr>
                                        {% endfor %}
                                    </tbody>
                                </table>
                            <div class="text-center">
                                <a href="" >Voir toutes les missions</a>
                            </div>
                            {% else %}
                                <p>Aucune mission disponible.</p>
                            {% endif %}
                        </div>
                    </div>
                </div>
                <div class="card my-5">
                    <div class="card-header bg-secondary text-white">
                        <h2 class="card-title">Agenda</h2>
                    </div>
                    <div class="card-body" style="height: 200px;">
                        
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card mb-5" style="height: 300px;">
                    <div class="card-body">
                        <h5 class="card-title">Rappel</h5>
                    </div>
                </div>
                <div class="card mb-5" style="height: 260px;">
                    <div class="card-body">
                        <h5 class="card-title">Liste Tâches</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock body %}
