{% extends "base.html.twig" %}

{% block body %}

{% if msg %}
    <div class="alert alert-{{ msg[1] }}" role="alert">
        {{ msg[0] }}
    </div>
{% endif %}

<h1>Dashbord</h1>
<a href="logout.php">Déconnexion</a>

{% if isAdmin %}
    <div class="alert alert-success" role="alert">
        Vous êtes connecté en tant qu'administrateur.
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        Vous êtes connecté en tant qu'utilisateur standard.
    </div>
{% endif %}

{% if missions %}
    <h2>Liste des missions :</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Numéro de dossier</th>
                <th>Motif</th>
                <th>Adresse</th>
                <th>Urgence</th>
                <th>Intervenants</th>
                <th>Standardiste</th>
                <th>Client</th>
            </tr>
        </thead>
        <tbody>
            {% for mission in missions %}
                <tr>
                    <td>{{ mission.numeroDossier }}</td>
                    <td>{{ mission.motif }}</td>
                    <td>{{ mission.adresse_id }}</td>
                    <td>{{ mission.urgence_id }}</td>
                    <td>{{ mission.intervenantMission_id }}</td>
                    <td>{{ mission.standardiste_id }}</td>
                    <td>{{ mission.client_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">
        Aucune mission trouvée.
    </div>
{% endif %}

{% endblock body %}
