{% extends "base.html.twig" %}

{% block body %}
{% include "navbar.html.twig" %}
{% if msg %}
    <div class="alert alert-{{ msg[1] }}" role="alert">
        {{ msg[0] }}
    </div>
{% endif %}

<h1>Dashbord</h1>
<a href="logout.php">Déconnexion</a>

{% if isAdmin %}
    <div class="alert alert-success" role="alert">
        Vous êtes connecté en tant qu'administrateur.
    </div>
{% else %}
    <div class="alert alert-info" role="alert">
        Vous êtes connecté en tant qu'utilisateur standard.
    </div>
{% endif %}

{% if missions %}
    <h2>Liste des missions :</h2>
    <table class="table">
        <thead>
            <tr>
                <th>Numéro de dossier</th>
                <th>Motif</th>
                <th>Adresse</th>
                <th>Urgence</th>
                <th>Intervenants</th>
                <th>Standardiste</th>
                <th>Client</th>
            </tr>
        </thead>
        <tbody>
            {% for mission in missions %}
                <tr>
                    <td>{{ mission.numeroDossier }}</td>
                    <td>{{ mission.motif }}</td>
                    <td>{{ mission.adresse_id }}</td>
                    <td>{{ mission.urgence_id }}</td>
                    <td>{{ mission.intervenantMission_id }}</td>
                    <td>{{ mission.standardiste_id }}</td>
                    <td>{{ mission.client_id }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% else %}
    <div class="alert alert-info" role="alert">
        Aucune mission trouvée.
    </div>
{% endif %}

<div class="row mt-5 mx-5 justify-content-center">
    <div class="col-7">
        <div class="row mb-3 align-items-center">
            <div class="col-9">
                <h3>Bonjour MACHIN</h3>
                <p>Vous êtes actuellement connecté blablabla</p>
            </div>
            <div class="col-3">
                <button type="button" class="btn btn-primary"><h3>New</h3></button>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="container">
        <div class="row">
            <div class="col-9">
                <div class="card">
                    <div class="card-header">
                        <h2 class="card-title">Mes Interventions</h2>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-hover">
                                <thead>
                                    <tr>
                                        <th>Numéro de Dossier</th>
                                        <th>Statut</th>
                                        <th>Urgence</th>
                                        <th>Client</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for mission in missions %}
                                        <tr>
                                            <td>{{ mission.numeroDossier }}</td>
                                            <td>{{ mission.nomStatut }}</td>
                                            <td>{{ mission.nomUrgence }}</td>
                                            <td>{{ mission.nomClient }} {{ mission.prenomClient }}</td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-3">
                text
            </div>
        </div>
    </div>
</div>
{% endblock body %}
