{% extends "base.html.twig" %}

{% block css %}
    <link rel="stylesheet" href="/css/dashboard.css">
{% endblock %}

{% block body %}
{% include "navbar.html.twig" %}

{% if msg %}
    <div class="alert alert-{{msg[1]}} alert-dismissible" role="alert">
        {{msg[0]}}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
{% endif %}

<div class="container my-5">
    <div class="card">
        <div class="card-header bg-secondary text-white">
            <h2 class="card-title">Toutes les missions</h2>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-striped table-hover">
                    <thead>
                        <tr>
                            <th>Numéro de Dossier</th>
                            <th>Statut</th>
                            <th>Urgence</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for mission in missions %}
                            <tr>
                                <td>{{ mission.numeroDossier }}</td>
                                <td>{{ mission.statut_id }}</td>
                                <td>{{ mission.urgence_id }}</td>
                                <td>
                                    <a
                                    href="editMission.php?mission_id={{ mission.numeroDossier }}"
                                    class="btn btn-primary"
                                    >Editer</a
                                    >
                                    <a
                                    href="supprimerMission.php?mission_id={{ mission.numeroDossier }}"
                                    class="btn btn-primary"
                                    >Supprimer</a
                                    >
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock body %}